<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="31332Deovandski.VocaloidRadio" Publisher="CN=4BCD280D-1FA1-477A-BCAB-AF2BB13ABA81" Version="4.1.1.8" />
  <Properties>
    <DisplayName>Vocaloid Radio</DisplayName>
    <PublisherDisplayName>Deovandski</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VocaloidRadio.Windows.App">
      <m2:VisualElements DisplayName="Vocaloid Radio" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="With this free App you will enjoy Vocaloid music* for 24/7 anywhere, anytime! Radio Stream is provided by VocaloidRadio.com." ForegroundText="dark" BackgroundColor="#464646" ToastCapable="false">
        <m2:DefaultTile ShortName="Vocaloid Radio" Wide310x150Logo="Assets\Wide310x150Logo.jpg" Square310x310Logo="Assets\Square310x310Logo.png" DefaultSize="wide310x150Logo">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#A9E2F3" />
        <m2:ApplicationView MinWidth="default" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundAudioTask.MyBackgroundAudioTask">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>